{%extends  'base.html'%}
{%block title%}
Inventory Management | About Us
{%endblock%}

{%block content%}
<div class="jumbotron jumbotron-fluid">
    <section id="showcase">
        <div class="container">
            <h1> About Us </h1> 

            
        </div>
    </section>
</div>
<div class="container">
    <section id="main">
     <div class="col-md-8 col-sm-8">
            <p>We are a technology professional services firm that focuses on creating a positive change by imagining and inventing the future.</p>
            <p> Phone:0723456789</p>
            <p> Email:yonovalabs@gmail.com </p>
            <p> Instagram: @YonovaLabs</p>
            <p> Facebook:Yonova Labs</p>
            <p> Twitter:Yonova_Labs</p>
     
     </div>
    
    
    </section>

</div>
{%endblock%}

{%block footer%}
<footer width="76%" border="0" align="center" valign="bottom" cellspacing="0" cellpadding="0" id="main-footer">
    <p>Copyright &copy; 2020 Inventory INC</p>
</footer>
{%endblock%}